<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
            <p>
                    <font face="century gothic">Truck Chasers is a free app created to be a more efficient tool for locating and promoting mobile truck businesses in the DC Metro area.
                    
                   We created Truck Chasers as a way for customers to track your favorite mobile businesses and their real time location.
                        
                    Customers and mobile business owners can sign-up for free and enjoy all of the benefits the Truck Chaser app has to offer. 
                    </p></font>

                    </p>

        </div>
    </div>
</div>