<!-- Page Content -->
<div class="container" id="mainDiv">
    <h1 class="title text-center">Truck Chasers
    </h1>

    <br>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col shadow p-3 mb-5 bg-dark rounded">
            {{> map}}
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-lg-1 col-9 form-group text-center">
            {{!-- SEARCH BOX --}}
            <font face="century gothic"</font><input id="searchBox" class="input rounded form-control form-control-sm mb-2" type="text" placeholder="What mobile services are you looking for?"
                size="50" title="Go wild!" onkeydown="submitListener(event)">
                
            <!-- SEARCH BUTTON -->
        </div>
        <div class="form-group" id="searchBtn">
            <button class="btn btn-sm custom-btn rounded">Search</button>
        </div>
    </div>
    <br> {{!-- available trucks list --}}
    <div id="truckListDiv">
        <h4>
            <span>
                <i class="material-icons ">
                    local_shipping
                </i>
            </span>
            <span>Available Trucks:</span>
        </h4>
        <hr>
        <div class="row " id="truckList">

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->